*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;

}

body {
  background-color: #F4FAFF;
  position: relative;
   min-height: 100vh;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* icon top */
.icon-top{
    background-color: #125E8A;
}

.icon-top a{
    margin: 2rem;
    color: #FFFFFF;
    font-size: 2rem;
}
.icon-top a:hover{
    color: #FF9F1C;
}

/* Header */
header{
    background-color: #125E8A;
     color: #FFFFFF;
}
.navbar{
    padding: 1rem;
    height: 4rem;
    font-weight: 700;
    background-color: #39A0ED;
}

.navbar-brand{
     color: #FFFFFF;
     background-color: #39A0ED;

}
.nav-link:hover{
     margin: 0.1rem;
     text-decoration: underline;
}
.nav-link-active{
    margin: 0.1rem;
    text-decoration: underline;
}
.navbar-background{
    color: red;
}

/* Intro title */
.container-intro{
    padding-top: 5rem;
    padding-bottom:2rem;
    min-height: 25vh;
    color: #197BBD;

}
.container-intro h1 {
    padding: 0.7rem;
    font-weight: 900;
    border: 0.3rem solid #197BBD;
}
.container-intro p {
    font-weight: 900;
}

/* Big Projects */

.title-proj-section{
    border: 0.3rem solid #FFFFFF;
    padding: 0.6rem;
    font-weight: bold;
}

.big-projects{
    color: #FFFFFF;
    background: #197BBD;
    padding-top: 6rem;
    clip-path: polygon(0 7vh, 100% 0, 100% 100%, 0% 100% );
    margin-bottom: 5rem;
    padding-bottom: 3rem;
}

.card{
    color: #0C090D;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card:hover{
    color: #FFFFFF;
    background: #FF9F1C;
    -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.card-footer{
    background: #197BBD;
    color: #FFFFFF;
}
.proj-frm {
    padding: 0.4rem;
    margin: 0.1rem;
    color: #FFFFFF;
}

.text-container{
    padding:0.5rem;
}
.text-container h1{
    margin: 1rem;
    font-weight: 900;
}
.text-container p{
    margin: 0.5rem;
}

/* Small Projects*/
.small-projects{
    color: #197BBD;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
}
.title-proj-section-small{
    border: 0.3rem solid #197BBD;
    padding: 0.6rem;
    font-weight: bold;;
}

/* Contact Form */
.contact-form .form-control{
    background:transparent;
    border-bottom: 0.1rem solid #125E8A;
    border-radius: 0;
    margin: auto;
}
.form-control::placeholder{
    font-size: 1.5rem;
    font-weight: 700;
}
.contact-form button{
   border-radius: 0;
   margin-top: 3rem;
   background: #FF9F1C;
   color: #FFFFFF;
   font-weight: 900;
}
.contact-form button:hover{
   background: #0C090D;
   color: #FFFFFF;
}
/* About */
.container-about{
    padding-top: 5rem;
    padding-bottom:2rem;
    color: #197BBD;
}

.container-about h1 {
    padding: 0.7rem;
    font-weight: 900;
}
.container-about p {
    font-weight: 900;
    padding: 2rem;
    border: 0.3rem solid #197BBD;
}

/* Footer */
footer{
    color: #FFFFFF;
    background-color: #125E8A;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* Skills */
.skills{
    padding-top:8vh;
    padding-bottom: 15vh;
}
.skills-about{
    background: #197BBD;
}
.skills-about h1{
    margin-bottom: 4rem;
    color: #FFFFFF;
    border: 0.3rem solid #FFFFFF;
    padding: 0.6rem;
    font-weight: bold;
}
.card-skill{
    color: #FFFFFF;
    border: none;
    background: #FF9F1C;
    position: relative;
    overflow: hidden;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
