{% extends 'base/base.html' %}
{% load static %}

{% block title %}Payments{% endblock %}


{% block content %}
        <h3>Name: {{order.name}}</h3>
        <h3>Address: {{order.adress}}</h3>
        <h3>Zipcode: {{order.zipcode}}</h3>
        <h3>City: {{order.city}}</h3>
        <h3>State: {{order.state}}</h3>
        <h3>Phone: {{order.phone}}</h3>
        <h3>Email: {{order.email}}</h3>
        {% if order.order_note %}
            <h3>Note: {{order.order_note}}</h3>
        {% endif %}

         <div id="paypal-button-container"></div>

        <hr>
{% for item in cart_items %}
        <h2>{{ item.product.product_name }}</h2>
        <img style="width: 100px;" src="{{ item.product.images.url }}"/>

        <h2>{{ item.quantity }}</h2>
        <a href="{% url 'add_to_cart' item.product.id %}"><button>Add</button></a>
        <a href="{% url 'reduce_cart' item.product.id item.id %}"><button>Remove Item</button></a>
        <a href="{% url 'remove_cart_item' item.product.id item.id %}"><button>Remove Item from cart</button></a>
        <h2>$ {{ item.sub_total }}</h2>
    {% endfor %}
        <h1>Total: $ {{total}}</h1>
        <h1>Quantity: {{quantity}}</h1>
        <h1>Tax:  $ {{tax}}</h1>
        <h1>Total Cost: $ {{grand_total}}</h1>

{% endblock %}

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=ARykDdVOJOB-mbiiaBYHZX7KsVSgo9WdXdF2NCeTgSgpMJ3fJcsg7E4X3rUw18b6eP-dOqIRJYvhls-k&currency=USD"></script>
<script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // My values
        let amount = "{{ grand_total }}"
        let url = "{% url 'payments' %}"
        let csrftoken = getCookie('csrftoken');
        let orderID = "{{order.order_number}}"
        let payment_method  = 'PayPal'

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
             style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                   console.log(details);
                   sendData();

                   function sendData(){
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                            }),
                        })
                        // .then(response => response.json())
                        // .then(data => console.log(data));
                    }
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock %}
