{% extends 'base/base.html' %}
{% load static %}

{% block title %}Payments{% endblock %}


{% block content %}
<section class="totals pt-1">
    <div class="container-fluid ">
        <div class="row text-center justify-content-center">
            <div class="col text-center text-uppercase justify-content-center">
        <div class="row">
                    <div class="col-12 mx-auto my-3 col-sm-12 col-md-6 col-lg-4">
                        <div class="card card-body cart-total text-uppercase">
                            <div class="card-title text-white">
                                <h1>cart total</h1>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Name:</h4></div>
                                <div class="col-6"><h3>{{order.name}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Address:</h4></div>
                                <div class="col-6"><h3>{{order.address}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Email:</h4></div>
                                <div class="col-6"><h3>{{order.email}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Phone:</h4></div>
                                <div class="col-6"><h3>{{order.phone}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Zipcode:</h4></div>
                                <div class="col-6"><h3>{{order.zipcode}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>City:</h4></div>
                                <div class="col-6"><h3>{{order.city}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>State:</h4></div>
                                <div class="col-6"><h3>{{order.state}}</h3></div>
                            </div>

                            {% if order.order_note %}
                            <div class="row text-white">
                                <div class="col-6"><h3>Note: {{order.order_note}}</h3></div>
                            </div>
                            {% endif %}

                            <div class="row text-white">
                                <div class="col-6 mt-5"><h4>subtotal</h4></div>
                                <div class="col-6 mt-5"><h3>${{total}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>tax</h4></div>
                                <div class="col-6"><h3>${{tax}}</h3></div>
                            </div>

                            <div class="row row-total">
                                <div class="col-6  my-4"><h4>Order total</h4></div>
                                <div class="col-6  my-4"><h3>${{grand_total}}</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col col-sm-6 col-md-4 mx-auto justify-content-center flex-wrap">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=ARykDdVOJOB-mbiiaBYHZX7KsVSgo9WdXdF2NCeTgSgpMJ3fJcsg7E4X3rUw18b6eP-dOqIRJYvhls-k&currency=USD"></script>
<script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // My values
        let amount = "{{ grand_total }}";
        let url = "{% url 'payments' %}";
        let csrftoken = getCookie('csrftoken');
        let orderID = "{{order.order_number}}";
        let payment_method  = 'PayPal';
        let redirect_url = "{% url 'order_complete' %}";

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
             style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                   console.log(details);
                   sendData();

                   function sendData(){
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                            }),
                        })
                         .then((response) => response.json())
                         .then((data) =>{
                           window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                         });
                    }
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock %}
