{% extends 'layouts.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="title-presentation p-4 m-2">
            <h1 class="text-center">{{ about.title }}</h1>
            <p class="text-center">{{ about.description }}</p>
        </div>
    </div>
    <div class="container text-center">
        <div class="p-1 m-5 separator-title">
            <h1 class="text-center">Stuff I know: </h1>
        </div>
    </div>

    <div class="box">
    <div class="container">
     	<div class="row">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <a href="{{ project.link }}">
                        <div class="box-part text-center" style="background-image: url(/media/gears_pic.jpeg);">
						<div class="text-box">
						<div class="title">
							<h1>Languages: </h1>
						</div>
						</div>
						<div class="text-box">
						<div class="text">
                           {% for skill in skills %}
                                <p>{{ skill.language }}</p>
                            {% endfor %}
						</div>
						</div>

					 </div>
                    </a>
				</div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <a href="{{ project.link }}">
                        <div class="box-part text-center" style="background-image: url(/media/gears_pic.jpeg);">
						<div class="text-box">
						<div class="title">
							<h1>Frameworks: </h1>
						</div>
						</div>
						<div class="text-box">
						<div class="text">
                           {% for skill in skills %}
                                <p>{{ skill.framework }}</p>
                            {% endfor %}
						</div>
						</div>

					 </div>
                    </a>
				</div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >
                    <a href="{{ project.link }}">
                        <div class="box-part text-center" style="background-image: url(/media/gears_pic.jpeg);">
						<div class="text-box">
						<div class="title">
							<h1>Technologies: </h1>
						</div>
						</div>
						<div class="text-box">
						<div class="text">
                           {% for skill in skills %}
                                <p>{{ skill.technology }}</p>
                            {% endfor %}
						</div>
						</div>

					 </div>
                    </a>
				</div>

		</div>
    </div>

</div>

{% endblock %}