{% extends 'base/base.html' %}

{% block title %}
Contacts
{% endblock %}

{% block content %}
    <section class="contact-form py-5" >
        <div class="container py-5">
            <div class="row height-30 align-items-center">
                <div class="col-md-8 mx-auto text-center">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control form-control-lg m-2" name="name" placeholder="Enter Name">
                        <input type="email" class="form-control form-control-lg m-2" name="email" placeholder="Enter Email">
                        <input type="text" class="form-control form-control-lg m-2" name="subject" placeholder="Enter Subject">
                        <textarea class="form-control form-control-lg m-2" name="message" placeholder="Enter Message"></textarea>
                        <button class="btn btn-lg text-capitalize">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}