{% extends 'base/base.html' %}

{% block title %}
	Portfolio
{% endblock %}

{% block content %}
<div class="container container-intro text-center">
		<h1 class="text-intro">{{ intro.title }}</h1>
		<p class="text-intro">-{{ intro.description }}-</p>
</div>


<section class="big-projects">
	<div class="container">
		<div class="row title my-5">
			<div class="col text-center ">
				<h1 class="col-8 col-md-4 mx-auto text-uppercase title-proj-section">
					Big projects
				</h1>
			</div>
		</div>
		<div class="row">
			{% for project in projects %}
			{% if project.is_big %}
			<div class="col-md-6 col-lg-4 my-3">
				<a href="{{ project.link }}">
				<div class="card">
					{% if project.image %}
					<img src="{{ project.image.url }}" alt="" class="card-img-top" >
					{% else %}
							<div class="box-part text-center" style="background: red;"></div>
					{% endif %}
					<div class="text-container">
						<h1 class="corner-text">{{ project.title }}</h1>
						<p class="lead">{{ project.description }}</p>
					</div>

					<hr class="mb-0">
					<div class="card-footer d-flex justify-content-between ">
						<p class="proj-frm">{{ project.tags }}</p>
					</div>
				</div>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>

</section>

<section class="small-projects">
	<div class="container">
		<div class="row title my-5">
			<div class="col text-center ">
				<h1 class="col-8 col-md-4 mx-auto text-uppercase title-proj-section-small">
					Small projects
				</h1>
			</div>
		</div>
		<div class="row">
			{% for project in projects %}
			{% if project.is_big != True %}
			<div class="col-md-6 col-lg-4 my-3">
				 <a href="{{ project.link }}">
				<div class="card">
					{% if project.image %}
					<img src="{{ project.image.url }}" alt="" class="card-img-top" >
					{% else %}
							<div class="box-part text-center" style="background: red;"></div>
					{% endif %}
					<div class="text-container">
						<h1 class="corner-text">{{ project.title }}</h1>
						<p class="lead">Lorems aw ra raw rqwr waw5raw35 aw5wa53a</p>
					</div>
					<hr class="mb-0">
					<div class="card-footer d-flex justify-content-between ">
							<p class="proj-frm">{{ project.tags }}</p>
					</div>

				</div>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>

</section>




<section class="skills skills-about">
		<div class="container container-separator text-center">
            <h1 class="col-8 col-md-4 mx-auto text-uppercase title-proj-section-small">Stuff I know: </h1>
    	</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6 my-3">
					<div class="card-skill text-center">
						<div class="card-title pt-3">
							<h2>Languages: </h2>
						</div>
						<ul class="list-group list-group-flush">
						{% for skill in skills %}
							{% if skill.language %}
							<li class="list-group-item text-uppercase text-muted first-list">
                                {{ skill.language }}
							</li>
							{% endif %}
                       	{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 my-3">
					<div class="card-skill text-center">
						<div class="card-title pt-3">
							<h2>Frameworks: </h2>
						</div>
						<ul class="list-group list-group-flush">
						{% for skill in skills %}
							{% if skill.framework %}
							<li class="list-group-item text-uppercase text-muted first-list">
                                {{ skill.framework }}
							</li>
							{% endif %}
                       	{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 my-3">
					<div class="card-skill text-center">
						<div class="card-title pt-3">
							<h2>Technologies: </h2>
						</div>
						<ul class="list-group list-group-flush ">
						{% for skill in skills %}
							{% if skill.technology %}
							<li class="list-group-item text-uppercase text-muted first-list">
                                {{ skill.technology }}
							</li>
							{% endif %}
                       	{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>>
{% endblock %}