{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block banner %}
		<div class=" banner-about justify-content-center text-center m">
			<div class="">
				 <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block my-5">
                        AutoDash
				 </h1>
				<h1 class="text-capitalize text-yellow text-slanted my-3">{{ about.title }} </h1>
				<div class="w-md-50  mx-auto">
					<h4 class="text-capitalize text-yellow text-slanted my-3">{{ about.description }} </h4>
				</div>

                <a href="{% url 'store' %}" class="btn btn-yellow m-5">View All Products</a>
			</div>
		</div>
{% endblock %}

