{% extends 'base/base.html' %}
{% load static %}

{% block title %}Product Detail{% endblock %}


{% block content %}

<section class="single-product py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-lg-4 text-center my-5">
                <div class="single-product-img-container">
                    <img class="img-fluid"
                         src="{{ selected_product.images.url }}"
                         alt="{{ selected_product.product_name }}"
                    />
                </div>
                <div class="row single-product-photos mt-3">
                        {% for image in product_gallery %}
                        <div class="col-2 col-sm-2 single-product-photo p-1">
                            <a href="{{ image.image.url }}">
                                <img src="{{ image.image.url }}"
                                     class="img-fluid"
                                     alt="{{ selected_product.product_name }}"
                                />
                            </a>
                        </div>
                        {% endfor %}
                </div>
                </div>
                <div class="col-10 mx-auto col-lg-8 single-product-info m-5 px-lg-5">
                    <h2 class="text-uppercase my-2">{{ selected_product.product_name }}</h2>
                    <h2> $ {{ selected_product.price }}</h2>
                    <p class="lead text-muted">{{ selected_product.description }}</p>
                    {% if selected_product.stock <= 0 %}
                        <h2 class="text-uppercase my-2" style="color: red;">Out of stock</h2>
                    {% else %}
                       <a href="{% url 'add_to_cart' selected_product.id %}"
                          class="btn btn-yellow text-uppercase m-2 p-2">
                                Add to cart
                       </a>
                    {% endif %}
                </div>
        </div>
    </div>
</section>



{% endblock %}

