{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Store Page
{% endblock %}


{% block content %}
<section class="featured">
		<div class="container">
			<div class="row my-3">
				<div class="col-10 mx-auto text-center">
					<h1 class="text-uppercase">Categories</h1>
				</div>
			</div>


			<div class="container">
				<div class="row">
					<div class="col ">
						<div class="btn-group d-flex flex-wrap category-btn-group" role="group">
								<a href="{% url 'store' %}" class="btn btn-yellow text-uppercase m-2 p-2">All Products</a>
							{% for category in links %}
								<a href="{{ category.get_url }}" class="btn btn-yellow text-uppercase m-2 p-2">{{category.category_name}}</a>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>


				<div class="row">
					<div class="container container-intro text-center my-3">
					<p class="text-intro-p">{{ product_count }} items found </p>
				</div>


			<div class="row">
{% for item in products %}
				<div class="col-10 mx-auto col-md-6 col-lg-4 ">
					<div class="featured-container  text-center">
						<img
							src="{{ item.images.url }}"
							class="product-image img-fluid"
							alt="product"
						/>
						<h6 class="product-name text-capitalize text-center my-2">{{ item.product_name }}</h6>
						<h6 class="product-price text-center">
							<span>$ {{ item.price }}</span>
						</h6>
						<a href="{% url 'add_to_cart' item.id %}" class="featured-store-link text-capitalize">
							Add to cart
						</a>

					</div>

				</div>
{% endfor %}
			</div>
		</div>
	</section>




{% endblock %}