{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Store Page
{% endblock %}


{% block content %}
        <h1>Store Page: </h1>
        <h3>{{ product_count }} items found </h3>
            <hr>
            <h1>Categories: </h1>
            <a href="{% url 'store'%}"><h2>All Products</h2></a>
                {% for category in links %}
                    <a href="{{ category.get_url }}"><h2>{{category.category_name}}</h2></a>
                {% endfor %}
            <hr>
    {% for item in products %}
        <div>
            <a href="{{ item.get_url }}"><h2>{{ item.product_name }}</h2></a>
            <h3>$ {{ item.price }}</h3>
            <img style="width:70px;" src="{{ item.images.url }}">
           <a href="{% url 'add_to_cart' item.id %}">Add to Cart</a>
        </div>
    {% endfor %}
{% endblock %}