{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block banner %}
		<div class=" banner-about d-flex align-items-center justify-content-center text-center">
			<div>
				 <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block">
                        AutoDash
				 </h1>
				<h1 class="text-capitalize text-yellow text-slanted m-3">{{ about.title }} </h1>
                <h4 class="text-capitalize text-yellow text-slanted m-3">{{ about.description }} </h4>
                <a href="{% url 'store' %}" class="btn btn-yellow m-5">View All Products</a>
			</div>
		</div>
{% endblock %}

