{% extends 'base/base.html' %}


{% block title %}
Home
{% endblock %}


{% block banner %}
		<div class="banner d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center">
			<div>
				<h1 class="text-capitalize text-yellow text-slanted ">Looking for car electronics and gadgets? </h1>
				<h1 class="text-capitalize text-yellow text-slanted ">We install them </h1>
				<a href="{% url 'store' %}" class="btn btn-yellow m-3">View All Products</a>
			</div>
		</div>
{% endblock %}

{% block content %}

<section class="featured py-5">
		<div class="container">
			<div class="row">
{% for item in products %}
				<div class="col-10 mx-auto col-md-6 col-lg-4 ">
					<div class="featured-container  text-center">
                        <a href="{{ item.get_url }}">
						<img
							src="{{ item.images.url }}"
							class="product-image img-fluid"
							alt="product"
						/>
						<h6 class="product-name text-capitalize text-center my-2">{{ item.product_name }}</h6>
						<h6 class="product-price text-center">
							<span>$ {{ item.price }}</span>
						</h6>
                        </a>
						<a href="{% url 'add_to_cart' item.id %}" class="featured-store-link text-capitalize">
							Add to cart
						</a>

					</div>

				</div>
{% endfor %}
			</div>
		</div>
	</section>


{% endblock %}

