
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Roboto Mono', monospace;
}
.text-slanted {
  font-family: 'Roboto Mono', monospace;
}
.text-yellow{
    color: var(--mainYellow);
}
.btn-yellow{
    background: var(--mainYellow);
    text-transform: capitalize:
    font-size: 1.2rem;
    color: var(--mainBlack);
    border-radius: 0 !important;
    border: 0.2rem solid var(--mainYellow);
    font-weight: 900;
    width: 15rem;
}
.btn-yellow:hover{
    background: var(--mainBlack);
    color: var(--mainYellow);
    border: 0.2rem solid var(--mainBlack);
}
.btn-black{
    background: transparent;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--mainBlack);
    border-radius: 0 !important;
    border: 0.2rem solid var(--mainBlack);
    width: 15rem
}
.btn-black:hover{
    background: var(--mainBlack);
    color: var(--mainWhite);
}

a {
  text-decoration: none;
}
.banner-products {
    min-height: 25vh;
    background: linear-gradient(
        rgba(255,255,255,0.4),
        rgba(255,255,255,0.4)
        ),
        url("/static/images/dash-cam.jpg");
}
/* HomePage */
/* navbar */
.navbar-toggler {
    outline: none !important;
    border: none;
    font-size: 2.2rem;
}
.nav-link{
    font-size: 1.6rem;
    border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active {
    border-bottom: 0.1rem solid var(--mainYellow);
}
.navbar-icon {
    font-size: 1.6rem;
}
.navbar-cart-icon {
    color: var(--mainBlack);
    position: relative;
}
.navbar-cart-icon:hover {
    color: var(--mainGrey);
}
.cart-items{
    color: var(--mainWhite);
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0.1rem 0.6rem;
    background: var(--mainYellow);
    font-size:1.2rem;
    border-radius:50%;
}

/* banner */
.banner{
    min-height: 40vh;
    background: url("/static/images/dash-cam.jpg");
    background-position: center;
    background-attachment: fixed;
    background-color: #000000;
    background-image: url("/static/images/cubes.png");
}

/* Products */
.featured-container {
    background: var(--mainWhite);
    position: relative;
    overflow: hidden;
    border-radius: 1%;
    margin-bottom: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
.product-image{
    height:  20rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.featured-store-link{
    background: var(--mainYellow);
    color: var(--mainBlack);
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
.featured-store-link:hover{
    background: var(--mainBlack);
    color: var(--mainYellow);
}
.product-name{
    background: var(--mainWhite);
    color: var(--mainBlack);
    padding: 0.2rem 0.4rem;
    justify-content: center;
    font-size: 1.4rem;

}
.product-price{
    background: var(--mainWhite);
    color: var(--mainBlack);
    padding: 0.2rem 0.4rem;
    justify-content: center;
    font-weight: 900;
    font-size: 1.4rem;
}

/* Busin Info */
.skills {
    background: var(--mainBlack);
}

/* Footer */
.footer{
    background: rgba(0,0,0,0.8);
}
.footer-title{
    border: 0.2rem solid var(--mainYellow);
    padding: 0.4rem;
}
.footer-icon {
    color: var(--mainYellow);
}
.footer-icon:hover {
    color: var(--mainWhite);
}

/* Product detail */
.single-product-photo{
    background: var(--TransGrey);
    opacity: 0.6;
    transition: all 0.3s linear;
    cursor: pointer;
    border: 0.1rem solid transparent;
    box-sizing: border-box !important;
}
.single-product-photo:hover{
    border-color: var(--mainYellow);
    opacity: 1;
}

/* Cart */
.row-total{
    border: 0.2rem solid var(--mainYellow);
    padding: 0.4rem;
    color: var(--mainYellow);
}
.cart-total{
    background:  var(--mainBlack);
}

/* Dashboard */
.dashboard-data{
     border: 0.2rem solid var(--mainBlack);
}
.dashboard-data-click{
     border: 0.2rem solid var(--mainBlack);
     color: var(--mainBlack);
}
.dashboard-data-click:hover{
     border: 0.2rem solid var(--mainYellow);
     color: var(--mainYellow);
}