{% extends 'base.html' %}
{% block title_block %} Home {% endblock %}

{% block body_block %}

{% for blog in blogs %}

<h2> {{ blog.blog_title }} </h2>
<h6> {{ blog.publish_date }}</h6>

<div class="row">
    <div class="col-sm-4">
        {% for image in blog.images %}
            <img src="/media/blog_images/{{ blog.image }}" alt="{{ blog.blog_title }}" title="{{ blog.blog_title }}" width="100%">
            <h2> {{ blog.image }} </h2>
            <h2> {{ blog.blog_title }} </h2>
        {% endfor %}
    </div>

    <div class="col-sm-8">
        <p>{{ blog.blog_content | linebreaks }}</p>
        <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Details</a>
    </div>
</div>

{% endfor %}

{% endblock %}