{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %} Blog Details {% endblock %}

{% block body_block %}
    <div class="row">
    <div class="col-sm-6">
        <h2>{{ blog.blog_title }}</h2>
        <h2>{{ slug }}</h2>
        <i><h6>Published on: {{ blog.update_date }}</h6></i>
    </div>

    <div class="col-sm-6">
        <img src="/media/{{ blog.blog_image }}" width="100%">
    </div>
    {{ blog.blog_content|linebreaks }}
    </div>

    <a href="{% url 'App_Blog:edit_blog' pk=blog.pk%}" class="btn btn-info btn-sm">Edit</a>
{% endblock %}