{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}


{% block content %}
    {% include 'accounts/dashboard_sidebar.html' %}
    <section class="input-form py-5">
        <div class="container">
            <divs class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="text-uppercase">Password reset: </h2>

                    <form action="{% url 'change_password' %}" method="post">
                         {% csrf_token %}
                        <div class="container mt-5 col-md-6" >
                            <input type="password" class="form-control mb-3"
                                placeholder="Current Password" name="current_password">
                            <input type="password" class="form-control mb-3"
                                placeholder="New Password" name="new_password">
                            <input type="password" class="form-control  mb-3"
                                placeholder="Confirm New Password" name="confirm_new_password">

                        </div>
                        <button type="submit" class="btn btn-yellow mb-3">
                            Submit
                        </button>
                    </form>
                </div>
            </divs>
        </div>
    </section>

{% endblock %}
