{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}


{% block content %}
    {% include 'accounts/dashboard_sidebar.html' %}
        <form action="{% url 'edit_profile' %}" method="POST">
            {% csrf_token %}
            {{user_form.username}}
            {{user_form.phone_number}}
            {{profile_form.address}}
            {{profile_form.zipcode}}
            {{profile_form.city}}
            {{profile_form.state}}

            <input type="submit" value="Save">
        </form>

{% endblock %}

