{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock %}


{% block content %}
    {% include 'accounts/dashboard_sidebar.html' %}
    <section class="input-form py-5">
        <div class="container">
            <divs class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="text-uppercase">Edit Profile: </h2>
                    <form action="{% url 'edit_profile' %}" method="POST">
                         {% csrf_token %}
                        <div class="container mt-5 mb-3 col-md-6 col-sm-12 " >
                            <div class="p-1">
                                 {{user_form.username}}
                            </div>
                            <div class="p-1">
                                 {{user_form.email}}
                            </div>
                             <div class="p-1">
                                 {{user_form.phone_number}}
                            </div>
                             <div class="p-1">
                                 {{profile_form.address}}
                            </div>
                             <div class="p-1">
                                {{profile_form.zipcode}}
                            </div>
                             <div class="p-1">
                                  {{profile_form.city}}
                            </div>
                             <div class="p-1">
                                 {{profile_form.state}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-yellow mb-3">
                            Save
                        </button>
                    </form>
                </div>
            </divs>
        </div>
    </section>


{% endblock %}

