{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Password reset
{% endblock %}


{% block content %}
    {% include 'base/alerts.html' %}
        <h1>Password reset: </h1>

            <form action="{% url 'forgotPassword' %}" method="post">
            {% csrf_token %}
                <input type="email" placeholder="Enter Email" name="email">
                    <a href="{% url 'login' %}">Got password? Log back in</a>
                <button type="submit">Subtmit</button>
            </form>




{% endblock %}

