{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Password reset
{% endblock %}


{% block content %}
    {% include 'base/alerts.html' %}

    <section class="input-form py-5">
        <div class="container">
            <divs class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="text-uppercase">Password reset: </h2>

                    <form action="{% url 'forgotPassword' %}" method="post">
                         {% csrf_token %}
                        <div class="container mt-5 col-md-6" >
                            <input type="email" class="form-control text-capitalize mb-3"
                                placeholder="Enter Email" name="email">

                        </div>
                        <button type="submit" class="btn btn-yellow mb-3">
                            Submit
                        </button>
                    </form>
                        <p><a href="{% url 'login' %}">Got password? Log back in</a></p>
                </div>
            </divs>
        </div>
    </section>

{% endblock %}

