{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    My orders
{% endblock %}


{% block content %}
    {% include 'accounts/dashboard_sidebar.html' %}

<section class=" py-5 mb-5">
    <div class="container">
        <div class="row ">
            {% for order in orders %}
            <a class="" href="{% url 'order_detail' order.order_number%}">
                <div class="mx-auto col-lg-8 m-2 p-2 px-lg-5 dashboard-data-click">
                    <h4>Order: #{{ order.order_number }}</h4>
                    <h4>Total: ${{ order.order_total }}</h4>
                    <h4>Email: {{user.email}}</h4>
                    <h4>Phone: {{ order.phone }}</h4>
                    <h4>Created: {{ order.created_at }}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

