{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Order Detail
{% endblock %}


{% block content %}
    {% include 'base/alerts.html' %}
            <h4>User : {{ order.name }}</h4>
            <h4>Address : {{ order.address }}</h4>
            <h4>order : #{{ order.order_number }}</h4>
            <h4>Tota: {{ order.order_total }}</h4>
            <h4>Phone: {{ order.phone }}</h4>
            <h4>Created: {{ order.created_at }}</h4>
            <h4>Subtotal: ${{ subtotal }}</h4>
            <h4>Tax: {{ order.tax }}</h4>
            <h4>Total: {{ order.order_total }}</h4>


            <hr>

{% endblock %}

