{% block title %}
    Reset password
{% endblock %}


{% block content %}
    {% include 'base/alerts.html' %}
        <h1>Reset password: </h1>

            <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
                <input type="password" placeholder="Create password" name="password">
                 <input type="password" placeholder="Confirm password" name="confirm_password">
                 <a href="{% url 'forgotPassword' %}">forgot password?</a>
                <button type="submit">Subtmit</button>
            </form>

{% endblock %}