{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}


{% block content %}
    {% include 'base/alerts.html' %}

    <section class="input-form py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="text-uppercase">Reset password: </h2>
                    <form action="{% url 'resetPassword' %}" method="post">
                         {% csrf_token %}
                        <div class="container mt-5 col-md-6" >
                            <input type="password" class="form-control mb-3"
                                placeholder="Create password" name="password">
                            <input type="password" class="form-control mb-3"
                                placeholder="Confirm password" name="confirm_password">
                        </div>
                        <button type="submit" class="btn btn-yellow mb-3">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}