{% extends 'base/base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}


{% block content %}
<section class="input-form py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h2 class="text-uppercase">Checkout: </h2>

                    <form action="{% url 'place_order' %}" method="post">
                         {% csrf_token %}
                        <div class="container mt-5 col-md-6" >
                            <input type="text" class="form-control mb-3"
                                placeholder="Enter Name" name="name" required>
                            <input type="email" class="form-control mb-3"
                                placeholder="Enter Email" name="email" required>
                            <input type="number" class="form-control  mb-3"
                                placeholder="Enter phone" name="phone" required>
                            <input type="text" class="form-control  mb-3"
                                placeholder="Enter address" name="address" required>
                            <input type="text" class="form-control  mb-3"
                                placeholder="Enter zipcode" name="zipcode" required>
                            <input type="text" class="form-control  mb-3"
                                placeholder="Enter city" name="city" required>
                            <input type="text" class="form-control  mb-3"
                                placeholder="Enter state" name="state" required>
                            <textarea class="form-control  mb-3" name="note" placeholder="Notes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-yellow mb-3">
                            Place order
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>


<section class="totals pt-5">
    <div class="container-fluid ">
        <div class="row text-center justify-content-center">
            <div class="col text-center text-uppercase justify-content-center">
                <div class="row align-items-center">
                 {% for item in cart_items %}
                <div class="col-10 mx-auto col-md-2 m-2">
                    <img class="img-fluid product-image" src="{{ item.product.images.url }}"/>
                </div>
                <div class="col-10 mx-auto col-md-4 m-2">
                    <h2>{{ item.product.product_name }}</h2>
                </div>

                <div class="col-10 mx-auto col-md-2 ">
                   <h3>Quantity: {{ item.quantity }}</h3>
                </div>
                <div class="col-10 mx-auto col-md-2 m-2">
                    <h3>Unit cost: ${{ item.product.price }}</h3>
                </div>
                <div class="col-10 mx-auto col-md-2 m-2">
                    <h3>Subtotal: ${{ item.sub_total }}</h3>
                </div>
                <hr class="mt-3">
                {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12 mx-auto my-3 col-sm-12 col-md-6 col-lg-4">
                        <div class="card card-body cart-total text-uppercase">
                            <div class="card-title text-white">
                                <h1>cart total</h1>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>Quantity</h4></div>
                                <div class="col-6"><h3>{{quantity}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>subtotal</h4></div>
                                <div class="col-6"><h3>${{total}}</h3></div>
                            </div>
                            <div class="row text-white">
                                <div class="col-6"><h4>tax</h4></div>
                                <div class="col-6"><h3>${{tax}}</h3></div>
                            </div>

                            <div class="row row-total">
                                <div class="col-6  my-3"><h4>Order total</h4></div>
                                <div class="col-6  my-3"><h3>${{grand_total}}</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col col-sm-6 mx-auto d-flex justify-content-center flex-wrap">
                        <a href="{% url 'store' %}"><button type="button" class="btn btn-black m-1">continue shopping</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}

