
<nav>
    <h1>This is the navbar</h1>
    <a href="{% url 'cart'%}"><h2>Cart</h2></a>
    <a href="{% url 'dashboard'%}"><h2>Dashboard</h2></a>
    <h2>Items in cart: {{cart_count}}</h2>
    <a href="{% url 'store'%}"><h2>All Products</h2></a>
    {% if user.id is None %}
    <a href="{% url 'login'%}"><h2>Sign In </h2></a>
    <a href="{% url 'register'%}"><h2>Register</h2></a>
    {% else %}
    <h2>Wecome {{user.username}}</h2>
    <a href="{% url 'logout'%}"><h2>Logout</h2></a>
    {% endif %}
    {% for category in links %}
        <a href="{{ category.get_url }}"><h2>{{category.category_name}}</h2></a>
    {% endfor %}
    <hr>
</nav>