{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% include 'base/header.html' %}

      {% block content %}
      {% endblock %}

    {% include 'base/footer.html' %}

    {% block scripts %}
      {% endblock %}

  <script defer src="{% static 'js/all.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'js/nav-script.js' %}" ></script>
  </body>
</html>