  <footer class="fixed-bottom">
      <div class="container-fluid icon-top py-2 px-3">
          <div class="row">
              <div class="col">
                  <div class="top-icons text-center">
                      <a href="" class="mx-2"><i class="fab fa-twitter"></i></a>
                      <a href="" class="mx-2"><i class="fab fa-linkedin"></i></a>
                      <a href="" class="mx-2"><i class="fab fa-github"></i></a>
                      <a href="" class="mx-2"><i class="fas fa-envelope-square"></i></i></a>
                      <h5 class="text-capitalize">All rights reserved</h5>
                      <h5 class="text-capitalize"> ©2021, PotatoCoder</h5>
                  </div>
              </div>
          </div>
      </div>
   </footer>